@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xto31b');
  src:  url('fonts/icomoon.eot?xto31b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xto31b') format('truetype'),
    url('fonts/icomoon.woff?xto31b') format('woff'),
    url('fonts/icomoon.svg?xto31b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook1:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-checkmark:before {
  content: "\e909";
}
.icon-globe:before {
  content: "\e90b";
}
.icon-location:before {
  content: "\e90c";
}
.icon-social-facebook:before {
  content: "\e902";
}
.icon-social-linkedin:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-clear:before {
  content: "\e908";
}
.icon-picture_as_pdf:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e905";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-phone:before {
  content: "\f095";
}
.icon-play-circle:before {
  content: "\f144";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-arrow-thin-right:before {
  content: "\e90a";
}
.icon-wrench:before {
  content: "\e991";
}