/* Secteur.css */

.secteur-section {
  padding: 50px 0; /* Add spacing around the section */
}

.secteur-content {
  max-width: 800px; /* Max width of the content */
  margin: 0 auto; /* Center horizontally */
  text-align: center; /* Center text */
}

.button-group {
  display: grid; /* Use grid for button groups */
  grid-template-columns: repeat(3, minmax(150px, 1fr)); /* Responsive columns */
  gap: 10px; /* Spacing between buttons */
  justify-content: center; /* Center align the grid items */
  text-align: center;
}

.custom-button {
  margin: 5px; /* Spacing between buttons */
  padding: 10px 20px; /* Padding inside the button */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  border: none; /* Remove borders */
  cursor: pointer; /* Pointer cursor */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded border */
  text-decoration: none;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.custom-button:hover {
  background-color: #0056b3; /* Background color on hover */
}

.image-grid {
  display: grid; /* Use CSS Grid for image grid */
  grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Responsive columns */
  gap: 20px; /* Spacing between grid items */
  margin-top: 40px; /* Spacing from previous content */
}

.image-item {
  margin-top: 20px; /* Spacing above each item */
  background: #e8e5e5; /* Background color */
  text-align: center; /* Center text */
  padding: 10px; /* Padding inside each item */
  border-radius: 10px; /* Rounded corners */
}

.image-item img {
  max-width: 100%; /* Image adapts to container width */
  border-radius: 10px; /* Rounded corners for images */
}

.image-item h3 {
  margin-top: 10px; /* Spacing above title */
  font-size: 18px; /* Font size for title */
  color: #333; /* Text color for title */
}

/* Media Queries */
@media (max-width: 700px) {
  .secteur-section {
    padding: 30px 0; /* Reduced padding */
  }

  .secteur-content {
    padding: 0 20px; /* Add side padding */
  }

  .custom-button {
    font-size: 14px; /* Smaller font size for buttons */
    padding: 8px 16px; /* Reduced padding inside buttons */
  }
  
.button-group {
  display: grid; /* Use grid for button groups */
  grid-template-columns: repeat(1, minmax(150px, 1fr)); /* Responsive columns */
  gap: 10px; /* Spacing between buttons */
  justify-content: center; /* Center align the grid items */
  text-align: center;
}


  .image-grid {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 10px; /* Spacing between buttons */
    justify-content: center; /* Center align the grid items */
    text-align: center;
    padding: 8px 10px;
  }

  .image-item {
    margin-top: 10px; /* Reduced spacing above each item */
    padding: 5px; /* Reduced padding inside each item */
  }

  .image-item h3 {
    font-size: 16px; /* Smaller font size for title */
  }
}
